<div class="row">
  <div class="col-6">
    <h1>{% trans %}Edit Employee{% endtrans %} - {{ data.name }}</h1>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <form hx-put="/employee/{{ data.id }}" hx-target="#main-content" hx-swap="innerHTML">
      <div class="mb-3">
        <label for="name" class="form-label">{% trans %}Name{% endtrans %}</label>
        <input type="text" class="form-control" id="name" name="name" value="{{ data.name }}" required>
      </div>
      <div class="mb-3">
        <label for="hire-date" class="form-label">{% trans %}Hire Date{% endtrans %}</label>
        <input type="date" class="form-control" id="hire-date" name="hire_date" value="{{ data.hire_date }}" required>
      </div>
      <div class="mb-3">
        <label for="employee-status" class="form-label">{% trans %}Employee Status{% endtrans %}</label>
        <select class="form-select" id="employee-status" aria-label="status" name="status" required>
          {% for status in data.employee_statuses -%}
          <option value="{{ status.id }}" {% if data.status == status.id %}selected{% endif %}>
            {{ status.name }}
          </option>
          {% endfor %}
        </select>
      </div>
      <div class="mb-3">
        <label for="department" class="form-label">{% trans %}Department{% endtrans %}</label>
        <select class="form-select" id="department" aria-label="department" name="department" required>
          {% for department in data.departments -%}
          <option value="{{ department.id }}" {%if data.department == department.id %}selected{% endif %}>{{ department.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="mb-3">
        <label for="offices" class="form-label">{% trans %}Offices{% endtrans %}</label>
        <select class="form-select" id="offices" aria-label="office" name="office" required>
          {% for office in data.offices -%}
          <option value="{{ office.id }}" {%if data.office == office.id %}selected{% endif %}>{{ office.name }}</option>
          {% endfor %}
        </select>
      </div>
      <button type="submit" class="btn btn-primary">{% trans %}Submit{% endtrans %}</button>
      <button class="btn btn-secondary"
              hx-get="/employee_table"
              hx-target="#main-content">{% trans %}Cancel{% endtrans %}</button>
    </form>
  </div>
</div>
