<div id="dept-checklist">
<div class="row">
  <div class="col-9">
  <h2>{% trans %}Pre-Start{% endtrans %}</h2>
  </div>
  <div class="col-3 text-end">
    <button class="btn btn-primary"
            hx-get="/onboarding/checklist/new/form/{{ data.department }}/prestart"
            hx-target="#pre-start-task-form"><i class="bi bi-person-plus-fill"></i> {% trans %}New Task{% endtrans %}</button>
  </div>
</div>

<span id="pre-start-task-form"></span>

<div class="row mb-5">
  <div class="col-12">
    <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">{% trans %}Tasks{% endtrans %}</th>
        <th scope="col">{% trans %}Departments{% endtrans %}</th>
        <th scope="col">{% trans %}Actions{% endtrans %}</th>
      </tr>
    </thead>
    <tbody>
      {% for task in data.tasks.prestart %}
      <tr>
        <th scope="row">{{ task.task }}</th>
        <td>{{ task.assigned_department.name }}</td>
        <td>
          <button class="btn btn-sm btn-info bg-info-subtle text-white"
                  hx-get="/onboarding/checklist/task/edit/{{ task.id }}"
                  hx-target="#pre-start-task-form">
            <i class="bi bi-pencil"></i> {% trans %}Edit{% endtrans %}
          </button>
          <button class="btn btn-sm btn-danger bg-danger-subtle text-white"
                  hx-delete="/onboarding/checklist/{{ task.department.id }}/task/{{ task.id }}"
                  hx-confirm="{% trans %}Are you sure?{% endtrans %}"
                  hx-target="#dept-checklist">
            <i class="bi bi-trash"></i> {% trans %}Delete{% endtrans %}
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>
</div>

{# First 30 Days #}
<div class="row">
  <div class="col-9">
  <h2>{% trans %}First 30 Days{% endtrans %}</h2>
  </div>
  <div class="col-3 text-end">
    <button class="btn btn-primary"
            hx-get="/onboarding/checklist/new/form/{{ data.department }}/first30"
            hx-target="#first-30-task-form"><i class="bi bi-person-plus-fill"></i> {% trans %}New Task{% endtrans %}</button>
  </div>
</div>

<span id="first-30-task-form"></span>

<div class="row mb-5">
  <div class="col-12">
    <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">{% trans %}Tasks{% endtrans %}</th>
        <th scope="col">{% trans %}Departments{% endtrans %}</th>
        <th scope="col">{% trans %}Actions{% endtrans %}</th>
      </tr>
    </thead>
    <tbody>
      {% for task in data.tasks.first30 %}
      <tr>
        <th scope="row">{{ task.task }}</th>
        <td>{{ task.assigned_department.name }}</td>
        <td>
          <button class="btn btn-sm btn-info bg-info-subtle text-white"
                  hx-get="/onboarding/checklist/task/edit/{{ task.id }}"
                  hx-target="#first-30-task-form">
            <i class="bi bi-pencil"></i> {% trans %}Edit{% endtrans %}
          </button>
          <button class="btn btn-sm btn-danger bg-danger-subtle text-white"
                  hx-delete="/onboarding/checklist/{{ task.department.id }}/task/{{ task.id }}"
                  hx-confirm="{% trans %}Are you sure?{% endtrans %}"
                  hx-target="#dept-checklist">
            <i class="bi bi-trash"></i> {% trans %}Delete{% endtrans %}
          </button>
        </td>
      </tr>
      {% endfor %}
      {% if not data.tasks.first30 %}
      <tr>
        <th scope="row" colspan=3>{% trans %}No tasks for this section{% endtrans %}</th>
      </tr>
      {% endif %}
    </tbody>
    </table>
  </div>
</div>

{# Second 30 Days #}
<div class="row">
  <div class="col-9">
  <h2>{% trans %}Second 30 Days{% endtrans %}</h2>
  </div>
  <div class="col-3 text-end">
    <button class="btn btn-primary"
            hx-get="/onboarding/checklist/new/form/{{ data.department }}/second30"
            hx-target="#second-30-task-form"><i class="bi bi-person-plus-fill"></i> {% trans %}New Task{% endtrans %}</button>
  </div>
</div>

<span id="second-30-task-form"></span>

<div class="row mb-5">
  <div class="col-12">
    <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">{% trans %}Tasks{% endtrans %}</th>
        <th scope="col">{% trans %}Departments{% endtrans %}</th>
        <th scope="col">{% trans %}Actions{% endtrans %}</th>
      </tr>
    </thead>
    <tbody>
      {% for task in data.tasks.second30 %}
      <tr>
        <th scope="row">{{ task.task }}</th>
        <td>{{ task.assigned_department.name }}</td>
        <td>
          <button class="btn btn-sm btn-info bg-info-subtle text-white"
                  hx-get="/onboarding/checklist/task/edit/{{ task.id }}"
                  hx-target="#second-30-task-form">
            <i class="bi bi-pencil"></i> {% trans %}Edit{% endtrans %}
          </button>
          <button class="btn btn-sm btn-danger bg-danger-subtle text-white"
                  hx-delete="/onboarding/checklist/{{ task.department.id }}/task/{{ task.id }}"
                  hx-confirm="{% trans %}Are you sure?{% endtrans %}"
                  hx-target="#dept-checklist">
            <i class="bi bi-trash"></i> {% trans %}Delete{% endtrans %}
          </button>
        </td>
      </tr>
      {% endfor %}
      {% if not data.tasks.second30 %}
      <tr>
        <th scope="row" colspan=3>{% trans %}No tasks for this section{% endtrans %}</th>
      </tr>
      {% endif %}
    </tbody>
    </table>
  </div>
</div>

{# Third 30 Days #}
<div class="row">
  <div class="col-9">
  <h2>{% trans %}Third 30 Days{% endtrans %}</h2>
  </div>
  <div class="col-3 text-end">
    <button class="btn btn-primary"
            hx-get="/onboarding/checklist/new/form/{{ data.department }}/third30"
            hx-target="#third-30-task-form"><i class="bi bi-person-plus-fill"></i> {% trans %}New Task{% endtrans %}</button>
  </div>
</div>

<span id="third-30-task-form"></span>

<div class="row mb-5">
  <div class="col-12">
    <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">{% trans %}Tasks{% endtrans %}</th>
        <th scope="col">{% trans %}Departments{% endtrans %}</th>
        <th scope="col">{% trans %}Actions{% endtrans %}</th>
      </tr>
    </thead>
    <tbody>
      {% for task in data.tasks.third30 %}
      <tr>
        <th scope="row">{{ task.task }}</th>
        <td>{{ task.assigned_department.name }}</td>
        <td>
          <button class="btn btn-sm btn-info bg-info-subtle text-white"
                  hx-get="/onboarding/checklist/task/edit/{{ task.id }}"
                  hx-target="#third-30-task-form">
            <i class="bi bi-pencil"></i> {% trans %}Edit{% endtrans %}
          </button>
          <button class="btn btn-sm btn-danger bg-danger-subtle text-white"
                  hx-delete="/onboarding/checklist/{{ task.department.id }}/task/{{ task.id }}"
                  hx-confirm="{% trans %}Are you sure?{% endtrans %}"
                  hx-target="#dept-checklist">
            <i class="bi bi-trash"></i> {% trans %}Delete{% endtrans %}
          </button>
        </td>
      </tr>
      {% endfor %}
      {% if not data.tasks.third30 %}
      <tr>
        <th scope="row" colspan=3>{% trans %}No tasks for this section{% endtrans %}</th>
      </tr>
      {% endif %}
    </tbody>
    </table>
  </div>
</div>
</div>
