<tr>
  <td scope="row" class="align-middle">
    {{ data.name }}
  </td>
  <td class="align-middle text-end">
    <button class="btn btn-info bg-info-subtle text-white"
            hx-get="/edit_department/{{ data.id }}"
            hx-target="closest tr" hx-swap="outerHTML">
      <i class="bi bi-person-fill-check"></i> {% trans %}Edit{% endtrans %}
    </button>
    <button class="btn btn-danger bg-danger-subtle text-white"
            hx-delete="/departments/{{ data.id }}"
            hx-target="#main-content">
      <i class="bi bi-person-fill-x"></i> {% trans %}Delete{% endtrans %}
    </button>
  </td>
</tr>
