<html lang="en" data-bs-theme="dark">

<head>
  <title>HR Portal v1</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/bootstrap-icons.min.css">
  <style>
  .side-nav {
    min-height: 100%;
  }
  [x-cloak] { display: none !important; }
  </style>
</head>

<body hx-boost="true">

<!-- Navbar -->
<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i class="fa-solid fa-dice-one"></i> {% trans %}HR Portal{% endtrans %} v1</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<div class="container-fluid">
  <div class="row side-nav">
    <!-- Side Navigation -->
    <div class="col-2 bg-dark-subtle text-emphasis-dark p-2">
      <div class="mt-3 ms-2 p-1" hx-boost="true">
        <a href="/"
           class="link-underline link-underline-opacity-0">
             <i class="bi bi-person-fill"></i> {% trans %}Employee Dashboard{% endtrans %}
        </a>
      </div>
      <div class="mt-3 ms-2 p-1">
        <a href="/offices" hx-get="/offices" hx-target="#main-content"
           class="link-underline link-underline-opacity-0">
             <i class="bi bi-building-fill"></i> {% trans %}Offices{% endtrans %}
        </a>
      </div>
      <div class="mt-3 ms-2 p-1">
        <a href="/Departments" hx-get="/departments" hx-target="#main-content"
           class="link-underline link-underline-opacity-0">
             <i class="bi bi-people-fill"></i> {% trans %}Departments{% endtrans %}
        </a>
      </div>
    </div>
    <div class="col-10 mt-3">
      <div id="main-content">
      {% include "employee_table.html" %}
      <toaster></toaster>
      </div>
    </div>
  </div>
</div>

<div class="toast-container position-fixed top-0 end-0 p-3"></div>
<template id="toastTemplate">
	<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
		<div class="d-flex">
			<div class="toast-body"></div>
			<button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="{% trans %}Close{% endtrans %}"></button>
		</div>
	</div>
</template>

<!-- JavaScript -->
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/htmx.min.js"></script>
<script defer src="/js/alpine.min.js"></script>
<script>
// Found this here:
// https://gist.github.com/marcus-at-localhost/3c71fc2b6066da88e7f74041daf9226e
// And modified it slightly
// Makes Bootstrap Toaster messages for HTMX error and success events
const hashCode = s => s.split('').reduce((a,b)=>{a=((a<<5)-a)+b.charCodeAt(0);return a&a},0);

const toast = function(msg, mode){
		const template = document.querySelector('#toastTemplate');
		const clone = template.content.firstElementChild.cloneNode(true);
		clone.classList.add(`text-bg-${mode ?? 'secondary'}`);
		const group = Math.abs(hashCode(msg));
		clone.dataset.group = group;
		clone.querySelector('.toast-body').innerHTML = msg;

		const toast = new bootstrap.Toast(clone, {autohide: true});
		const container = document.querySelector('.toast-container');
		const toasts = container.querySelectorAll('.hide');
		toasts.forEach(toast => container.removeChild(toast));
		const groupsToShow = container.querySelectorAll(`[data-group="${group}"].show`);
		if(groupsToShow.length) {
			return;
		}

		container.appendChild(clone);
		toast.show();
}

htmx.on('htmx:responseError', event => toast(event.detail.xhr.responseText, 'danger'));
//htmx.on('htmx:responseError', event => toast("There was an error with your action", 'danger'));
htmx.on('ButteredToast', event => toast(event.detail.value, 'success'));
</script>

<!--/JavaScript -->
</body>
</html>
