<html lang="en" data-bs-theme="dark">

<head>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  
</head>

<body>


<!-- Navbar -->
<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i class="fa-solid fa-dice-one"></i> HR Portal</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-12">
      <h1>Employee Dashboard</h1>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12">
      {% include "employee_table.html" %}
    </div>
  </div>
</div>

<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
